<%= simple_form_for(@lead, :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } }) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :fname, :label => "First Name" %>
  <%= f.input :lname, :label => "Last Name" %>
  <%= f.input :phone %>
  <%= f.input :email %>
  <%= f.input :city, :label => "City" %>
  <%= f.input :state, :label => "State" %>
  <%= f.input :gender %>
  <%= f.input :smoker, as: :radio_buttons %>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
